<table>
  <thead><tr><th></th><th>warps</th><th>wefts</th></tr></thead>
  <tbody>
    <tr>
      <th>pattern</th>
      <td><input [ngModel]="warps" (input)="updateWarps($event.target.value)" type="number"></td>
      <td><input [ngModel]="wefts" (change)="updateWefts($event.target.value)" type="number"></td>
    </tr>
    <tr>
      <th>repeats</th>
      <td><input [ngModel]="warpRepeats" (input)="updateWarpRepeats($event.target.value)" type="number"></td>
      <td><input [ngModel]="warpRepeats" (change)="updateWeftRepeats($event.target.value)" type="number"></td>
    </tr>
  </tbody>
</table>
<app-palette [palette]="palette"></app-palette>
<hr/>

<div>
  <app-pattern [pattern]="pattern"></app-pattern>
<app-weft-colour-pattern [weftColours]="weftColours" [palette]="palette"></app-weft-colour-pattern>
<app-warp-colour-pattern [warpColours]="warpColours" [palette]="palette"></app-warp-colour-pattern>
<app-work 
  *ngFor="let r of patternRepeats"
  [warpCount]="warps" 
  [weftCount]="wefts"
  [pattern]="pattern"
  [warpColours]="warpColours"
  [weftColours]="weftColours"
></app-work>
</div>