p {
  font-family: Lato;
}

div{
  background-color: grey;
  display: grid;
  grid-template-areas:
    'warp-colours pattern'
    'work weft-colours';

  grid-template-columns: 1fr 100px;
  grid-template-rows: 100px 1fr;

  gap: 4px;
}

app-work {
  grid-area: work;
}

app-weft-colour-pattern {
  grid-area: weft-colours;
}

app-warp-colour-pattern {
  grid-area: warp-colours;
}