p {
  font-family: Lato;
}

div.complete-pattern{
  background-color: grey;
  display: grid;
  grid-template-areas:
    'warp-colours pattern'
    'work weft-colours';

  grid-template-columns: 1fr 100px;
  grid-template-rows: 100px 1fr;

  gap: 4px;
}



.app-work {
  grid-area: work;
  display: grid;
  grid-auto-flow: row;
  gap: 1px;

  .weft-repeat{
    display: grid;
    grid-auto-flow: column;
    gap: 1px;
  }
}

.app-weft-colour-pattern {
  grid-area: weft-colours;
  display: grid;
  grid-auto-flow: row;
  gap: 1px;
}

.app-warp-colour-pattern {
  grid-area: warp-colours;
  display: grid;
  grid-auto-flow: column;
  gap: 1px;
}

app-pattern {
  grid-area: pattern;
}
